h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 230101266– 3. Orientar al usuario hacia los servicios de salud, teniendo en cuenta sus necesidades, condiciones de aseguramiento, derechos y deberes.
            li 
                span 230101266– 4. Verificar el nivel de satisfacción de la persona de acuerdo con sus expectativas y normas técnicas.