h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Modificaciones en el sistema general de seguridad social en salud', 'main.html#page/modificaciones/')
                    +navTemaItem('2', 'Régimen de pagos compartidos y cuotas moderadoras dentro del sistema general de seguridad social en salud', 'main.html#page/regimen/')
                    +navTemaItem('3', 'Disposiciones para el no cobro de copagos a poblaciones especiales en el régimen subsidiado', 'main.html#page/disposiciones/')
                    +navTemaItem('4', 'Exención concurrente del pago de cuotas moderadoras, y copagos por leyes especiales', 'main.html#page/exencion/')
                    +navTemaItem('5', 'Plataformas de salud', 'main.html#page/plataformas/')
                    +navTemaItem('6', 'Sobre el sistema único de habilitación', 'main.html#page/sobre/')
                    +navTemaItem('7', 'Sobre la operatividad del sistema único de acreditación', 'main.html#page/operatividad')
                    +navTemaItem('8', 'Cómo implementar el PAMEC con enfoque en seguridad del paciente', 'main.html#page/implementar/')
                    +navTemaItem('9', 'Plan de intervenciones colectivas – PIC', 'main.html#page/pic/')
                    +navTemaItem('10', 'Servicio al cliente', 'main.html#page/servicio_al_cliente/')
                    +navTemaItem('11', 'Satisfacción del cliente', 'main.html#page/satisfaccion/')
                    +navTemaItem('12', 'Método proactivo y reactivo', 'main.html#page/metodo/')
                    +navTemaItem('13', 'PQRS', 'main.html#page/pqrs/')