h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Sistema de seguridad social integral (Ley 100 de 1993)', 'main.html#page/sistema/')
                    +navTemaItem('2', 'Constitución Política de Colombia', 'main.html#page/constitucion/')
                    +navTemaItem('3', 'Mecanismos y sistemas de financiación del sector salud.', 'main.html#page/protocolos_de_laboratorio/')
                    +navTemaItem('4', 'Reforma del sistema general de seguridad social en salud (Ley 1438 de 2011)', 'main.html#page/reforma/')
                    +navTemaItem('5', 'El Sistema General de Riesgos Profesionales. (Decreto 1295 de 1994)', 'main.html#page/el_sistema/')
                    +navTemaItem('6', 'Política de atención integral en salud —PAÍS y el modelo de acción integral territorial - MAlTE (Resolución 2626 de 2019)', 'main.html#page/politica/')
                    +navTemaItem('7', 'Tipos de clientes', 'main.html#page/clientes')
                    +navTemaItem('8', 'La satisfacción del cliente: elementos y reto', 'main.html#page/satisfaccion/')
                    +navTemaItem('9', 'Mecanismo para el reporte de información que permitirá la verificación de la entrega de la Carta de Derechos y Deberes del Afiliado y del Paciente y la Carta de Desempeño de la EPS. (Resolución 1379 de 2015)', 'main.html#page/mecanismo/')
                    +navTemaItem('10', 'Plataforma estratégica', 'main.html#page/plataforma/')
                    +navTemaItem('11', 'La comunicación', 'main.html#page/comunicacion/')
                    +navTemaItem('12', 'Servicio al cliente', 'main.html#page/servicio/')
                    +navTemaItem('13', 'Trabajo en equipo: autoestima, autonomía', 'main.html#page/trabajo/')
                    +navTemaItem('14', 'Etiqueta y protocolo', 'main.html#page/etiqueta/')
                    
