.container
    .header-ecored
        h1 1. Modificaciones en el sistema general de seguridad social en salud
    .jumbotron.bg-white

        .sub-ecored.mt-5#tema1_1
            h2 1.1 Ley número 1122 de 2007

        img.img-a(src="assets/images/pages/tema_1/img_1.png").img-fluid

        .sub-ecored.mt-5#tema1_2
            h2 1.2 Objeto

        p La presente ley tiene como objeto realizar ajustes al Sistema General de seguridad Social en Salud, teniendo como prioridad el mejoramiento en la prestación de los servicios a los usuarios. Con este fin, se hacen reformas en los aspectos de:

        ul.ul1
            li 
                p Dirección.
            li 
                p Universalización.
            li 
                p Financiación.
            li 
                p Equilibrio entre los actores del sistema.
            li 
                p Racionalización, y mejoramiento en la prestación de servicios de salud.
            li 
                p Fortalecimiento en los programas de salud pública y de las funciones de, inspección, vigilancia y control.
            li 
                p La organización y funcionamiento de redes para la prestación de servicios de salud.

        .jumbotron.color-2.mt-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema_1/img_2.png", style="max-width: 120px").img-fluid
                .col-10
                    h2 Estimado aprendiz, Una vez que visualice los dos videos, debe realizar una infografía donde plasme las ideas más importantes relacionadas con la ley 1122 de 2007.


        p El siguiente enlace lleva a un video en donde se presenta una breve explicación sobre los componentes de la ley 1122 de 2007.

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/pBYY-uG63PQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p El siguiente enlace lleva a un video donde se presenta una visión con relación a los principales cambios de la Ley 1122 del 2007. 

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                                iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/XD_0h2uK_hw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
       


                