.container
    .header-ecored
        h1 13. PQRS
    .jumbotron.bg-white
        img.mt-5.img-a(src="assets/images/pages/tema_13/img_1.png").img-fluid 

        hr.border-color-primary.border-2
        p Cada institución prestadora de servicios de salud, por medio de sus estrategias organizacionales debe contar con un departamento que tenga definido el proceso de recepción, lectura y respuesta ante   las Peticiones, Quejas, Reclamos y Sugerencias presentadas por los usuarios, encargándose esta dependencia en gran medida de la satisfacción de los pacientes.
        p El Sistema de Peticiones, Quejas, Reclamos y Sugerencias (PQRS) es una herramienta que nos permite conocer las inquietudes y manifestaciones que tienen nuestros usuarios para que tengamos la oportunidad de fortalecer nuestro servicio y seguir fortaleciéndonos en el mercado de la salud.
        hr.border-color-primary.border-2

        .header-arrow-1.mt-5
            h2.text-center Qué técnica utilizar

        .row.justify-content-center.mt-5

            .col-12.col-md-3.my-6.my-md-0

                .card.color-5.mt-5(style='min-height: 480px')
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_13/img_2.png").avatar-img
                                                
                        p.header-step.flex-column.justify-content-center.align-items-center
                            img(src="assets/images/pages/tema_13/img_3.png")
                            h2.cad-title.text-center.mt-5 Petición
                            p Es una actuación por medio de la cual el usuario, de manera respetuosa, solicita a la empresa cualquier información relacionada con la prestación del servicio. 

  
            .col-12.col-md-3.my-6.my-md-0

                .card.color-6.mt-5(style='min-height: 480px')
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_13/img_2.png").avatar-img
                        p.header-step.flex-column.justify-content-center.align-items-center
                            img(src="assets/images/pages/tema_13/img_4.png")
                            h2.cad-title.text-center.mt-5 Queja
                            p Es la expresión o manifestación que le hace el usuario a la empresa por la inconformidad que le generó la prestación de nuestros servicios. 


            .col-12.col-md-3.my-6.my-md-0

                .card.color-5.mt-5(style='min-height: 480px')
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_13/img_2.png").avatar-img
                        p.header-step.flex-column.justify-content-center.align-items-center
                            img(src="assets/images/pages/tema_13/img_5.png")
                            h2.cad-title.text-center.mt-5 Reclamo
                            p Es la oposición o contrariedad presentada por el usuario, con el objeto de que la empresa revise y evalúe una actuación relacionada con la prestación del servicio en términos económicos. 

            .col-12.col-md-3.my-6.my-md-0

                .card.color-6.mt-5(style='min-height: 480px')
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_13/img_2.png").avatar-img
                        p.header-step.flex-column.justify-content-center.align-items-center
                            img(src="assets/images/pages/tema_13/img_6.png")
                            h2.cad-title.text-center.mt-5 Sugerencia
                            p Es una propuesta presentada por un usuario para incidir en el mejoramiento de un proceso de la empresa cuyo objeto está relacionado con la prestación del servicio.(energitel, s.f.)
 

        hr.border-color-primary.border-2
        p Estimado aprendiz en el siguiente enlace encontrará un video en donde se da una breve explicación sobre la importancia de las PQRS. 
        hr.border-color-primary.border-2
        

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/blLQI56dfGc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')