.container
    .header-ecored
        h1 2. Régimen de pagos compartidos y cuotas moderadoras dentro del sistema general de seguridad social en salud
    .jumbotron.bg-white
        p De conformidad con el numeral 3 del artículo 160 de la Ley 100 de 1993, y el parágrafo del artículo 3º del Acuerdo 260 del Consejo Nacional de Seguridad Social en Salud - CNSSS, es deber del afiliado cotizante y de los beneficiarios cancelar las cuotas moderadoras y los copagos correspondientes. 

        p De esta manera, el afiliado cotizante, tan solo tendrá obligación de cancelar cuotas moderadoras, por los servicios sujetos a estas, y no copagos, los cuales solo se cobrarán al cotizante por la atención de sus beneficiarios.

        .row.justify-content-center.mt-5

            .col-12.col-md-4.mb-3.my-5

                .card.mt-5
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_2/img_1.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            h2.cad-title Cuota moderadora
                            hr.border-color-primary.border-2
                            p Las cuotas moderadoras tienen por objeto regular la utilización del servicio de salud y estimular su buen uso, promoviendo en los afiliados cotizantes y a sus beneficiarios, la inscripción en los programas de atención integral desarrollados por las EPS en el Régimen contributivo. 
                            hr.mt-5.border-color-primary.border-2


            .col-12.col-md-5.mb-3.my-5

                .card.mt-5
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_2/img_2.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            h2.cad-title Copago
                            hr.border-color-primary.border-2
                            p Son los aportes en dinero que corresponden a una parte del valor del servicio demandado y tienen como finalidad ayudar a financiar el sistema.  Los copagos se aplican única y exclusivamente a los afiliados beneficiarios del Régimen Contributivo y los afiliados al Régimen Subsidiado, según lo establecido en el artículo 3º y 11 del Acuerdo 260 del Consejo Nacional de Seguridad Social en Salud - CNSSS.
                            hr.border-color-primary.border-2

        p De esta manera, el afiliado cotizante, tan solo tendrá obligación de cancelar cuotas moderadoras, por los servicios sujetos a estas, y no copagos, los cuales solo se cobrarán al cotizante por la atención de sus beneficiarios.

        .header-arrow.mt-5.my-5
            p.text-center En la aplicación de cuotas moderadoras y copagos, deberán respetarse los siguientes principios básicos:

        .jumbotron.color-1.mt-5
            p.my-0 Equidad. 
            p Las cuotas moderadoras y los copagos en ningún caso pueden convertirse en una barrera para el acceso a los servicios, ni ser utilizados para discriminar la población debido a su riesgo de enfermar y morir, derivado de sus condiciones biológicas, sociales, económicas y culturales.

        .jumbotron.color-3.mt-5
            p.my-0  Información al usuario. 
            p Las EPS o EPSS deberán informar ampliamente al usuario sobre la existencia, el monto y los mecanismos de aplicación y cobro de cuotas moderadoras y copagos, a que estará sujeto en la respectiva entidad. 

            .row.justify-content-center.align-items-center

                .col-6

                    table.table.table-nowrap.justify-content-center.text-center
                        thead
                            tr
                                td(colspan="2").color-table #[strong CUOTA MODERADORA]
                                
                                
                        tbody
                            tr
                                td.color-table1 Rango de ingreso en SMLMV
                                td.color-table1 Cuota en % del SMLDV
                            
                            tr
                                td.color-table_1
                                    p Menor a 2 SMLMV
                                td.color-table_1
                                    p 11.70%
                        
                            tr
                                td.color-table_1
                                    p Entre 2 y 5 SMLMV
                                td.color-table_1 
                                    p 46.10%
                                
                            tr
                                td.color-table_1
                                    p Mayor 5 SMLMV

                                td.color-table_1
                                    p 121.50%

                    p En todo caso, las entidades deben publicar su sistema de cuotas moderadoras y copagos anualmente. Hacer público en un medio masivo de información, por lo menos una vez al año, su plan general de cuotas moderadoras y copagos aplicables a sus afiliados, o cualquier modificación a este.

                .col-6
                    table.table.table-nowrap.justify-content-center.text-center
                        thead
                            tr
                                td(colspan="3").color-table2 #[strong CÁLCULO DE COPAGO]
                                
                                
                        tbody
                            tr
                                td(colspan="3").color-table_1 Para efectuar el cálculo respectivo #[br]del copago, siga el siguiente paso.

                            tr
                                td(colspan="3").color-table_2 El valor total de la factura al #[br]servicio que corresponda, aplíquele el #[br]porcentaje, según el régimen y el nivel de #[br]ingreso al que pertenece el usuario.
                        
                            tr
                                td.color-table2
                                    p RÉGIMEN
                                td.color-table2 
                                    p PORCENTAJE
                                td.color-table2 
                                    p FÓRMULA
                                
                            tr
                                td.color-table_1
                                    p Contributivo #[br]menor a 2 SMLMV

                                td.color-table_1
                                    p 11.50%

                                td.color-table_1
                                    p Valor x 0.115

                            tr
                                td.color-table_1
                                    p Contributivo #[br]menor a 2 Y 5 SMLMV

                                td.color-table_1
                                    p 17.30%

                                td.color-table_1
                                    p Valor x 0.175

                            tr
                                td.color-table_1
                                    p Contributivo #[br]mayor a 5 SMLMV

                                td.color-table_1
                                    p 23.00%

                                td.color-table_1
                                    p Valor x 0.23

                            tr
                                td.color-table_1
                                    p Subsidiado

                                td.color-table_1
                                    p 10.00%

                                td.color-table_1
                                    p Valor x 0.10

        .row
            .col
                .jumbotron.color-4.mt-5(style='min-height: 190px;')
                    p.my-0 Aplicación general. 
                    p Las EPS o EPSS aplican sin discriminación alguna a todos los usuarios tanto los copagos como las cuotas moderadoras establecidos, de conformidad con lo dispuesto en el Acuerdo en mención.

            .col
                .jumbotron.color-4.mt-5(style='min-height: 190px;')
                    p.my-0 No simultaneidad. 
                    p En ningún caso pueden aplicarse simultáneamente para un mismo servicio copagos y cuotas moderadoras.(vargas, 2012)

        img.img-a(src="assets/images/pages/tema_2/img_3.png").img-fluid

        .row.justify-content-center.mt-5.no-margin

            .col-12.col-md-4.my-6.my-md-0-mt-5

                .card.contenedor
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_2/img_4.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            p.py-0 Consulta externa, general, médica, paramédica y especializada. 


            .col-12.col-md-4.my-6.my-md-0-mt-5

                .card.contenedor
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_2/img_5.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            p Los servicios de odontología. 

            .col-12.col-md-4.my-6.my-md-0-mt-5

                .card.contenedor
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_2/img_6.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            p Laboratorios.

            .col-12.col-md-4.my-6.my-md-0

                .card.contenedor
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_2/img_7.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            p.py-0 Medicamentos.


            .col-12.col-md-4.my-6.my-md-0

                .card.contenedor
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_2/img_8.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            p Imágenes diagnósticas por imagenología. 

            .col-12.col-md-4.my-6.my-md-0

                
                .card.contenedor
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_2/img_9.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            a(href="https://www.minsalud.gov.co/salud/PServicios/PublishingImages/triage-clasificacion-pacientes-urgencias.jpg" target="_blank")
                                p Urgencia no vital, según el ingreso o salario base de cotización.

        .header-arrow.mt-5.my-5
            p.text-center En la aplicación de cuotas moderadoras y copagos, deberán respetarse los siguientes principios básicos:

        img.img-a(src="assets/images/pages/tema_2/img_10.png").img-fluid

        section.text-center

            img.img-a.mt-5(src="assets/images/pages/tema_2/img_11.png").img-fluid

            h2.mt-5 Niños, niñas y adolescentes de nivel Sisbén 1 y 2 
            hr.border-color-primary.border-2
            p Para los niños, niñas y adolescentes de nivel Sisbén 1 y 2 con discapacidades físicas, sensoriales y cognitivas, enfermedades catastróficas y ruinosas certificadas por el médico tratante, conforme a lo establecido por el artículo 18 de la Ley 1438 de 2011. 

            img.img-a.mt-5(src="assets/images/pages/tema_2/img_12.png").img-fluid

            h2.mt-5 Niños, niñas y adolescentes víctimas de violencia 
            hr.border-color-primary.border-2
            p Para los niños, niñas y adolescentes víctimas de violencia física o sexual y todas las formas de maltrato que estén certificadas por la autoridad competente, según el artículo 19 de la Ley 1438 de 2011.

            img.img-a.mt-5(src="assets/images/pages/tema_2/img_13.png").img-fluid

            h2.mt-5 Mujeres víctimas de violencia 
            hr.border-color-primary.border-2
            p Para las mujeres víctimas de violencia física o sexual, certificados por la autoridad competente. La prestación del servicio médico incluirá la atención psicológica, psiquiátrica y la habitación provisional, en los términos de la Ley 1258 de 2007, de acuerdo con lo definido por el artículo 54 de la Ley 1438 de 2011.

        img.img-a.mt-5(src="assets/images/pages/tema_2/img_14.png").img-fluid

        p.mt-5 Los copagos, a que están obligados los beneficiarios en el régimen contributivo y los afiliados al régimen subsidiado son:

        .jumbotron.contenedor

            img.img-a.mt-5(src="assets/images/pages/tema_2/img_15.png").img-fluid

            hr.border-color-primary.border-2
            p Los servicios y procedimientos no quirúrgicos del POS que no tengan que ver con acciones de promoción y prevención, programas de atención materno infantil, programas de control de enfermedades transmisibles, enfermedades catastróficas o de alto costo, la atención inicial de urgencias, consulta externa médica, odontológica, paramédica y de medicina alternativa aceptada, consulta externa por médico especialista, fórmula de medicamentos para tratamiento ambulatorio, exámenes de diagnóstico por laboratorio clínico, ordenados en forma ambulatoria y que no requieran autorización adicional a la del médico tratante, y exámenes de diagnóstico por imagenología ordenados en forma ambulatoria y que no requieran autorización adicional a la del médico tratante.

            .row.justify-content-center.align-items-center

                .col-12.col-md-5.mb-5.mr-md-5.my-5
                    img.mt-6.img-a(src="assets/images/pages/tema_2/img_16.png").img-fluid

                    hr.border-color-primary.border-2
                    p Los servicios del POS de atención hospitalaria y los procedimientos de cirugía que no tengan que ver con acciones de promoción y prevención, programas de atención materno infantil, programas de control de enfermedades transmisibles, enfermedades catastróficas de alto costo, la atención inicial de urgencias.

                .col-12.col-md-5.mb-5.mr-md-5.my-5
                    img.img-a(src="assets/images/pages/tema_2/img_17.png").img-fluid

                    hr.border-color-primary.border-2
                    p Los procedimientos no quirúrgicos necesarios para rehabilitación, como las terapias (física, respiratoria, ocupacional, de lenguaje, entre otras).

            
                .col-12.col-md-5.mb-5.mr-md-5.my-5
                    img.img-a(src="assets/images/pages/tema_2/img_18.png").img-fluid

                    hr.border-color-primary.border-2
                    p Las imágenes diagnósticas invasivas tales como el procedimiento de endoscopia, rectoscopia y medios de contraste.


                .col-12.col-md-5.mb-5.mr-md-5.my-5
                    img.mt-4.img-a(src="assets/images/pages/tema_2/img_19.png").img-fluid

                    hr.border-color-primary.border-2
                    p Los procedimientos de odontología diferente a consulta, tales como la obturación y la endodoncia por lo que deberán aplicarse copagos a todos los servicios contenidos en el plan obligatorio de salud.

                .col-12.col-md-5.mb-5.mr-md-5.my-5
                    img.img-a(src="assets/images/pages/tema_2/img_20.png").img-fluid

                    hr.border-color-primary.border-2
                    p Los servicios de promoción y prevención.


                .col-12.col-md-5.mb-5.mr-md-5.my-5
                    img.img-a(src="assets/images/pages/tema_2/img_21.png").img-fluid

                    hr.border-color-primary.border-2
                    p Los programas de control en atención materno infantil.

                .col-12.col-md-5.mb-5.mr-md-5.my-5
                    img.img-a(src="assets/images/pages/tema_2/img_22.png").img-fluid

                    hr.border-color-primary.border-2
                    p Los programas de control en atención de las enfermedades transmisibles.


                .col-12.col-md-5.mb-5.mr-md-5.my-5
                    img.img-a(src="assets/images/pages/tema_2/img_23.png").img-fluid

                    hr.border-color-primary.border-2
                    p Las enfermedades catastróficas o de alto costo. La atención inicial de urgencias.

                .col-12.col-md-5.mb-5.mr-md-5.my-5
                    img.mt-4.img-a(src="assets/images/pages/tema_2/img_24.png").img-fluid

                    hr.border-color-primary.border-2
                    p Los servicios sujetos a cuotas moderadoras, Para los niños, niñas y adolescentes de nivel Sisbén 1 y 2 con enfermedades catastróficas certificadas por el médico tratante, conforme a lo establecido por el artículo 18 de la Ley 1438 de 2011.


                .col-12.col-md-5.mb-5.mr-md-5.my-5
                    img.img-a(src="assets/images/pages/tema_2/img_25.png").img-fluid

                    hr.border-color-primary.border-2
                    p Para los niños, niñas y adolescentes víctimas de violencia física o sexual y todas las formas de maltrato que estén certificadas por la autoridad competente, según el artículo 19 de la Ley 1438 de 2011.

            
            img.img-a(src="assets/images/pages/tema_2/img_26.png").img-fluid

            hr.border-color-primary.border-2
            p Para las mujeres víctimas de violencia física o sexual, certificados por la autoridad competente. La prestación del servicio médico incluirá la atención psicológica y psiquiátrica y la habitación provisional, en los términos de la Ley 1258 de 2007, de acuerdo con lo definido por el artículo 54 de la Ley 1438 de 2011.

        p El monto de copagos se encuentra limitado por dos topes, no puede ser ilimitado. Esto es, el máximo a cobrar por la atención de un mismo evento y el máximo a cobrar por año calendario, según lo establecido por los artículos 9º y 10 del Acuerdo 260 del Consejo Nacional de Seguridad Social en Salud - CNSSS, entendiendo para el efecto “por la atención de un mismo evento”, “el manejo de una patología específica el paciente en el mismo año calendario” (parágrafo, artículo 9º Acuerdo 260 Consejo Nacional de Seguridad Social en Salud - CNSSS)

        p Los copagos en el régimen contributivo se pagarán según el ingreso base de cotización del afiliado cotizante teniendo en cuenta el valor de las tarifas pactadas por la EPS con los PSS. De esta manera, el valor por concepto de copagos para afiliados cuyo ingreso base de cotización sea menor a dos (2) salarios mínimos legales mensuales vigentes será el 11.5% de las tarifas pactadas por la EPS con las IPS, para afiliados cuyo ingreso base de cotización esté entre dos y cinco salarios mínimos legales mensuales vigentes, el 17.3% de las tarifas pactadas por la EPS con las IPS, y para afiliados cuyo ingreso base de cotización sea mayor a cinco (5) salarios mínimos legales mensuales vigentes, el 23% de las tarifas pactadas por la EPS con las IPS. (COLOMBIA, 1993) (SALUD, 2004)

        table.table.table-nowrap.justify-content-center.text-center
            thead
                tr
                    td(colspan="4").color-table2 #[strong Copagos tope evento y año]
                    
                    
            tbody
                tr
                    td.color-table_2 Salario base #[br]cotización (en smmlv*)
                    td.color-table_2 Copago (sobre #[br]tarifas**) %
                    td.color-table_2 Copago máximo #[br]por evento (en smmlv*) %
                    td.color-table_2 Copago máximo #[br]anual (en smmlv*) % 
                
                tr
                    td.color-table_1 Menos 2
                    td.color-table_1 11,5
                    td.color-table_1 28,7
                    td.color-table_1 57,5
            
                tr
                    td.color-table_1 De 2 a 5 1
                    td.color-table_1 7,3
                    td.color-table_1 115
                    td.color-table_1 230
                    
                tr
                    td.color-table_1 Más de 5
                    td.color-table_1 23
                    td.color-table_1 230
                    td.color-table_1 460

        h2 Copagos en el régimen subsidiado
        p Los copagos a que están obligados los afiliados al régimen subsidiado, son los aportes en dinero que corresponden a una parte del valor del servicio demandado y tienen como finalidad ayudar a financiar el sistema, de conformidad con el artículo 2º del Acuerdo 260 del Consejo Nacional de Seguridad social en Salud - CNSSS. Estos, según artículo 7º del Acuerdo 260 del Consejo Nacional de Seguridad Social en Salud - CNSSS, se aplican a:

        img.img-a(src="assets/images/pages/tema_2/img_27.png").img-fluid

        p.mt-5  Los servicios y procedimientos no quirúrgicos del #[strong Plan Obligatorio de Salud subsidiado – POSS] que no tengan que ver con acciones de promoción y prevención, programas de atención materno infantil, programas de control de enfermedades transmisibles, enfermedades catastróficas o de alto costo, la atención inicial de urgencias, consulta externa médica, odontológica, paramédica y de medicina alternativa aceptada, consulta externa por médico especialista, fórmula de medicamentos para tratamiento ambulatorio, exámenes de diagnóstico por laboratorio clínico ordenados en forma ambulatoria y que no requieran autorización adicional a la del médico tratante, y exámenes de diagnóstico por imagenología, ordenados en forma ambulatoria y que no requieran autorización adicional a la del médico tratante.

        .row.justify-content-center.mt-5

            .col-12.col-md-3.my-6.my-md-0

                .card.color-5.mt-5
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_2/img_28.png").avatar-img
                                                
                        p Los servicios del POSS de atención hospitalaria y los procedimientos de cirugía que no tengan que ver con acciones de promoción y prevención, programas de atención materno infantil, programas de control de enfermedades transmisibles, enfermedades catastróficas o de alto costo, la atención inicial de urgencias.

  
            .col-12.col-md-3.my-6.my-md-0

                .card.color-6.mt-5
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_2/img_29.png").avatar-img
                        p Los procedimientos no quirúrgicos necesarios para rehabilitación como las terapias física, respiratoria, ocupacional, de lenguaje, entre otras.


            .col-12.col-md-3.my-6.my-md-0

                .card.color-5.mt-5
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_2/img_28.png").avatar-img
                        p Las imágenes diagnósticas invasivas tales como el procedimiento de endoscopia, rectoscopia y medios de contraste.  

            .col-12.col-md-3.my-6.my-md-0

                .card.color-6.mt-5
                
                    .card-body

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_2/img_29.png").avatar-img
                        p Los procedimientos de Odontología, diferente a consulta, tales como la obturación y la endodoncia. 

        p Por esto, deberán aplicarse copagos a todos los servicios contenidos en el Plan Obligatorio de Salud Subsidiado, con excepción de los estipulados en los artículos 18, 19 y 54 de la Ley 1438 de 2011, y 7º, Acuerdo 260 del Consejo Nacional de Seguridad Social en Salud - CNSSS.

        .row.justify-content-center.no-margin
            .col-12.col-md-5.mb-5.mr-md-4.my-5
                    
                section

                    a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VP/DOA/RL/cartillas-de-aseguramiento-al-sistema-general-de-seguridad-social-en-salud.pdf" target="_blank").media-link.button_color    
        
                        img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                        .media-link-title
                            p Cartilla aseguramiento a salud y movilidad Minsalud
                
