.container
    .header-ecored
        h1 3. Disposiciones para el no cobro de copagos a poblaciones especiales en el régimen subsidiado
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/tema_3/img_1.png").img-fluid

        .row.justify-content-center.no-margin
            .col-12.col-md-5.mb-5.mr-md-4.my-5
                    
                section

                    a(href="http://www.emssanar.org.co/media/attachments/2017/08/25/cnsss-acuerdo-365-2007_no-cobro-de-copagos-a-poblaciones-especiales.pdf" target="_blank").media-link.button_color    
        
                        img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                        .media-link-title
                            p http://www.emssanar.org.co/media/#[br]attachments/2017/08/25/cnsss-acuerdo-365-2007_no-cobro-de-copagos-a-poblaciones-especiales.pdf

        img.img-a(src="assets/images/pages/tema_3/img_2.png").img-fluid

        .header-arrow-1.mt-5.my-5
            h2.text-center Las poblaciones a las cuales aplica lo señalado en este artículo son:

        .row.justify-content-center.mt-5.no-margin

            .col-12.col-md-4.my-6.my-md-0-mt-5

                .card.contenedor
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_3/img_3.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            p.py-0 Población infantil abandonada.


            .col-12.col-md-4.my-6.my-md-0-mt-5

                .card.contenedor
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_3/img_4.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            p Población indigente. 

            .col-12.col-md-4.my-6.my-md-0-mt-5

                .card.contenedor
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_3/img_5.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            p Población en condiciones de desplazamiento forzado.

            .col-12.col-md-4.my-6.my-md-0

                .card.contenedor_1
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_3/img_6.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            p.py-0 Población indígena.


            .col-12.col-md-4.my-6.my-md-0

                .card.contenedor_1
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_3/img_7.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            p Población desmovilizada. 

            .col-12.col-md-4.my-6.my-md-0

                
                .card.contenedor_1
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_3/img_8.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            p Personas de la tercera edad en protección de ancianitos en instituciones de asistencia social. Así mismo, no será objeto del cobro de copagos la población rural migratoria.

        .row.justify-content-center.mt-5.no-margin

            .col-12.col-md-4.my-6.my-md-0.mt-5

                
                .card.contenedor.mt-5
                
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="assets/images/pages/tema_3/img_9.png").avatar-img

                        p.header-step.flex-column.justify-content-center.align-items-center
                            hr.border-color-primary.border-2
                            p La población ROM que sea asimilable al SISBEN I, situación que deberá identificarse en el correspondiente listado censal.

        p Artículo segundo. - acceso a los servicios de salud. - Con el objeto de facilitar el acceso a los servicios de salud de las poblaciones de que trata el presente Acuerdo, recomendar a la Superintendencia Nacional de Salud que adopte las medidas necesarias para que en el carné de afiliación que deben entregar las Entidades Promotoras de Salud del Régimen Subsidiado-EPS-S se señale expresamente que el portador se encuentra exento del cobro de copagos. Mientras dichas medidas se hacen efectivas, las EPS-S deberán implementar mecanismos que permitan identificar claramente que estas poblaciones se encuentran exentas de copagos.