.container
    .header-ecored
        h1 4. Exención concurrente del pago de cuotas moderadoras, y copagos por leyes especiales 
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/tema_4/img_1.png").img-fluid

        .row.justify-content-center.no-margin
            .col-12.col-md-5.mb-5.mr-md-4.my-5
               section
                a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Circular%200016%20de%202014.pdf" target="_blank").media-link.button_color    
                    img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon
                    .media-link-title
                        p Enlace de la normatividad