.container
    .header-ecored
        h1 7. Sobre la operatividad del sistema único de acreditación
    .jumbotron.bg-white
        h2 Según el Decreto 780 de 2016
        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.contenedor
                    .card-media__body 
                        figure.card__figure1
                            img(src="assets/images/pages/tema_7/img_1.png").img-fluid      
                        p.card__copy 
                            p.px-4 “El Sistema Único de Acreditación en Salud. Es el conjunto de procesos, procedimientos y herramientas de implementación voluntaria y periódica, los cuales están destinados a comprobar el cumplimiento gradual de niveles de calidad superiores a los requisitos mínimos obligatorios, para la atención en salud, bajo la dirección del Estado y la inspección, vigilancia y control de la Superintendencia Nacional de Salud”.

        section

            a(href="https://www.minsalud.gov.co/salud/PServicios/Paginas/sistema-unico-acreditacion-sistemaobligatorio-garantia-calidad.aspx" target="_blank").media-link.button_color    

                img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                .media-link-title
                    p Sistema único de acreditación
        