.container
    .header-ecored
        h1 8. Como implementar el PAMEC con enfoque en seguridad del paciente
    .jumbotron.bg-white
        p PAMEC es el Programa de Auditoría para el Mejoramiento de la Calidad en la Atención en Salud – PAMEC.
        p Es el mecanismo sistemático y continuo de evaluación y mejoramiento de la calidad observada respecto de la calidad esperada de la atención de salud que reciben los usuarios (Miniaterio de Salud, 2006).  
        p La Resolución 1043 de 2006 establece que el Programa de Auditoria para el Mejoramiento de la Calidad de la Atención en Salud, PAMEC “es la forma a través de la cual la institución implementará el componente de Auditoria para el Mejoramiento de la Calidad.”

        .row.justify-content-center.no-margin
            .col-12.col-md-5.mb-5.mr-md-4.my-5
                section
                    a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/DECRETO%201011%20DE%202006.pdf" target="_blank").media-link.button_color    
                        img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon
                        .media-link-title
                            p Normatividad

        p En el siguiente enlace se encuentra un video donde se da una explicación más detallada de que es el PAMEC, que cuenta con unos niveles de operación como:

        ul.ul1
            li
                p Autocontrol
            li
                p Auditoría interna
            li    
                p Auditoría externa

        .col.mt-5
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='460', height='235', src='https://www.youtube.com/embed/DthgBWIdvao', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')