.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Colpensiones, (2019), Beneficios del Régimen de Prima Media.
                    
                    td Página WEB
                    td 
                        a(href="https://www.colpensiones.gov.co/pensiones/Publicaciones/afiliados_colpensiones/beneficios_del_regimen_de_prima_media", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Ministerio de Salud y Protección Social, Sistema General de Pensiones.

                    td Página WEB 
                    td 
                        a(href="https://www.minsalud.gov.co/proteccionsocial/RiesgosLaborales/Paginas/sistema-general-pensiones.aspx", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     

                tr
                    td Asobancaria, Regímenes de pensiones ¿a cuál afiliarse? 

                    td Artículo
                    td 
                        a(href="https://www.sabermassermas.com/regimenes-de-pensiones-a-cual-afiliarse/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Comunicación asertiva   
                    td Página WEB
                    td 
                        a(href="https://concepto.de/comunicacion-asertiva/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Servicio al cliente   
                    td Página WEB
                    td 
                        a(href="https://concepto.de/servicio-al-cliente/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Ministerio de Salud y Protección Social. (2010), Definición, actualización, modificación del Plan Obligatorio de Salud.  
                    td PDF
                    td 
                        a(href="https://www.minsalud.gov.co/comunicadosPrensa/Documents/1.%20Antecedentes%20POS%20Agosto%202.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar        

                tr
                    td Sistema general de seguridad social. 3 de agost. De 2017. Publicado por fucsalud.edu.co.  
                    td Video
                    td 
                        a(href="https://vimeo.com/228217305", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar   

                tr
                    td Constitución Política De Colombia - (Fundamentos de Administración Pública). 14 de jun. De 2018. Publicado por Serranosqui Plus.  
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=tDUOKWTeoYs", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

                tr
                    td Melissa Lenis. (2016), Ley estatutaria en salud  
                    td Artículo – Presentación
                    td 
                        a(href="https://prezi.com/jvfvnkn0zd1p/ley-1751-de-2015/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

                tr
                    td Ley 1751 de 2015. 25 de abr. De 2017. Publicado por Jennifer Rueda.  
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=WBXc_GZLEa0", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

                tr
                    td Lo que usted debe saber sobre la Ley Estatutaria de Salud. 24 feb. 2015. Publicado por Ámbito Jurídico.  
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=8OTicDh_JYc", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td ¿Cómo funciona el sistema pensional colombiano? 19 de jun. Publicado por Asofondos.  
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=CoB_6Z8gtlU", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Clases de pensiones. 3 may de 2010. Publicado por Actualícese.  
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=JZ-2C3sndPM", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Presentación de la Política de Atención Integral en Salud. 31 may de 2018. Publicado por MinSaludCol.  
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=AD9GoqohIuQ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Resolución 2626 de 2019. 1 feb de 2020. Publicado por Laura Rocio Vargas Jimenez.  
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?reload=9&v=n6bE2uy_Dr0", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Tipos de clientes. 6 nov de 2013. Publicado por Diana Jaime.   
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=hixQG0y7nuI", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Carta de derechos y deberes. 5 dic de 2013. Publicado por Supersalud Superintendencia de Salud.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=nTiPxWOYx5A", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Ministerio de salud y Protección Social. (2019). Plataforma Estratégica 2018- 2022.
                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/PES/plataforma-estrategica.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td María Estela Raffino. (2020). Comunicación asertiva. Concepto.de.
                    td Página WEB
                    td 
                        a(href="https://concepto.de/comunicacion-asertiva/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Manejo de conflictos. 14 abr de 2016. Publicado por SUMMAR Productividad.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=2zmlsheuFOs", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Atención y Servicio al Cliente. 24 jun de 2015. Publicado por Grupo Proikos.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=5xGoNUkHpZQ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td La carreta. 29 agost de 2016. Publicado por Performina Colombia.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=p4MMuesoseI", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td El trabajo en equipo. 14 jul de 2014. Publicado por Aldeas Verdes.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=nYhliYnTIUo", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Relaciones interpersonales humanizadas en salud. 4 may de 2016. Publicado por Leidy Hernandez.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=KnmqCaeZYww", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Fomentar la autoestima: motivación, aliento y autonomía. 4 jul de 2018. Publicado por Cuentos por Creer
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=0E7ryzsaLKs", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Protocolo de atención al cliente. 15 dic de 2016. Publicado por Shirley Dania Julca Castillo.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=egkOLUiEdx4", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar