include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Adrián, Y. (22 de 12 de 2019). conceptos, definiciones", "https://conceptodefinicion.de/comunicacion/")

        +referenciaItem("Amazonia_Team. (08 de 05 de 2019). Amazonia Team Factory. Recuperado  de LAS 10 CUALIDADES DEL LÍDER MÁS IMPORTANTES:", "https://amazonia-teamfactory.com/blog/las-10-cualidades-del-lider-mas-importantes/")

        +referenciaItem("Bueno, M. (08 de 04 de 2018). fundación querer. Recuperado de autonomía y autoestima.", "https://www.fundacionquerer.org/autonomia-y-autoestima/")

        +referenciaItem("Coelho, F. (30 de 05 de 2019). Significados. Recuperado de comunicación asertiva.", "https://www.significados.com/comunicacion-asertiva/")

        +referenciaItem("El Congreso de Colombia. (2011). Ley No. 1438 de 2011. Por medio de la cual se reforma el sistema general de seguridad social y se dictan otras disposiciones. (pp. 1–51). pp. 1–51.", "https://www.minsalud.gov.co/Normatividad_Nuevo/LEY 1438 DE 2011.pdf")

        +referenciaItem("Komiya, A. (30 de 10 de 2015). CreceNegocios. Recuperado de factores que intervienen en el servicio al cliente.", "https://www.crecenegocios.com/que-es-el-servicio-al-cliente-y-cual-es-su-importancia/")

        +referenciaItem("Larraín Cortés, A. (2012). Diseño de una propuesta de mejoramiento de la calidad de servicio en una empresa del rubro automotriz", "http://repositorio.uchile.cl/handle/2250/104405")

        +referenciaItem("Ministerio de la Protección Social. (2004). Sistema de Seguridad Social en Salud. Régimen contributivo (pp. 1–24). pp. 1–24.", "https://www.minsalud.gov.co/Documentos y Publicaciones/GUIA INFORMATIVA DEL REGIMEN CONTRIBUTIVO.pdf")

        +referenciaItem("Ministerio de Salud y Protección Social. Por la cual se modifica la Política de Atención Integral en Salud - PAIS y se adopta el Modelo de Acción Integral Territorial - MAITE. (2019). Resolución No. 2626 de 2019 (pp. 1–17). pp. 1–17.", "https://www.minsalud.gov.co/Normatividad_Nuevo/Resolución No. 2626 de 2019.pdf")

        +referenciaItem("Ministerio de Salud y Protección Social. (2016). Política de Atención Integral en Salud. Un sistema de salud al servicio de la gente (pp. 1–97). pp. 1–97.", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/modelo-pais-2016.pdf")

        +referenciaItem("Minsalud. (s.f.). Minsalud.", "https://www.minsalud.gov.co/salud/CAS/Paginas/Carta-de-derechos-y-deberes-y-carta-de-desempe%C3%B1o-del-afiliado-al-sistema-de-salud.aspx")

        +referenciaItem("SANCHEZ, R. R. (28 de 02 de 2012). Recuperado de Manejo de conflictos.", "https://www.eoi.es/blogs/ruddyramonalonzo/2012/02/28/manejo-de-conflictos-en-las-organizaciones/")

        +referenciaItem("wikieoi. (21 de 03 de 2012). Recuperado de la Toma de Decisiones en Proyectos de negocio.", "https://www.eoi.es/wiki/index.php/El_Liderazgo_y_la_Toma_de_Decisiones_en_Proyectos_de_negocio")

       
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            